.site-author-image {
  display: block;
  margin: 0 auto;
  max-width: 96px;
  height: auto;
  border: 2px solid #333;
  padding: 2px;

  /* start */
  border-radius: 90%
  webkit-transition: 1.4s all;
  moz-transition: 1.4s all;
  ms-transition: 1.4s all;
  transition: 1.4s all;
  /* end */
}

.site-author-name {
  margin: 5px 0 0;
  color: $site-author-name-color;
}

.site-description {
  margin-top: 5px;
  font-size: $site-description-font-size;
  color: $site-description-color;
}
